*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 20px;
    margin-bottom: 2px;
    background-color: #fcf9f6;
    color: #203622;
}

.navbar{
    background-color: #203622;
    color: #fcf9f6;
    display: flex;
    position: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header{
    position: sticky;
    top: 0;
}

.navbar .logo{
    font-weight: bold;
    font-size: 2rem;
    color: #e3c9ac;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav-links a{
    text-decoration: none;
    font-weight: 200;
    color:#fff;
}

.banner{
    position: relative;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    overflow: hidden;
    color: white;
}

.bg-image{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('./Bg-image.jpeg') no-repeat center center/cover;
    z-index: 0;
    filter: brightness(0.3); 
}

.banner-text{
    position: relative;
    z-index: 2;
}

.banner-text h1{
    font-size: 3rem;
    color: red;
}

.banner-text p{
    font-size: 1.3rem;
    margin: 0.6rem 0 2rem;
}

.banner-btn{
    background-color: red;
    color: #fff;
    padding: 0.9rem 1.8rem;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
}

.header{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.brand{
    font-size: 2rem;
    color: red;
    font-weight: bold;
}

.tagline{
    font-style: italic;
    color: red;
    font-size: 1.5rem;
}

.product-display{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.gallery{
    flex: 1;
    position: relative;
}

.gallery input{
    display: none;
}

.images{
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
}

.image{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#img1:checked ~ .images #slide1,
#img2:checked ~ .images #slide2,
#img3:checked ~ .images #slide3,
#img4:checked ~ .images #slide4,
#img5:checked ~ .images #slide5{
    display: block;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails{
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.thumbnails label{
    cursor: pointer;
}

.thumbnails img{
     width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.product-info{
    flex: 3
}

.product-info h2{
    font-size: 2rem;
    color: red;
}

.description{
    margin: 1.2rem;
    color: black;
    line-height: 1.7rem;
    font-size: large;

}

.price{
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    margin-bottom: 1rem;
}

button{
    background: red;
    color: #fff;
    border: none;
    padding: 0.50rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 2rem;
}

.pro-sec{
    padding: 2rem 1.5rem;
}

.sec-title{
     text-align: center;
    font-size: 2.2rem;
    margin-bottom: 2.1rem;
}

.pro-grid{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.pro-card{
    background-color: #fef9;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
    padding: 2rem;
    border-radius: 11px;
    text-align: center;
    width: 270px;
}

.pro-card:hover{
    transform: rotateX(8ded) rotateY(-8deg) 
    translateY(-10px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    background: linear-gradient(120deg, #203622, red)
}

.pro-card img{
     width: 100%;
    border-radius: 5px;
}

.pro-card h3{
     margin: 0.9rem 0 0.5rem;
     color: #fff;
}

.pro-card p{
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.pro-card button{
    background-color: #fff;
    border: none;
    padding: o.7rem 2rem;
    color: #060606;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    background-color: #203622;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.socials a{
     color: #fff;
    margin: 0 0.6rem;
    margin-top: 1rem;
    text-decoration: none;
}


